


body {
  background: #141413;
  color: #ebedc7;
  font-family: Georgia;
}

/* Component Features */

.intro {
  display: block;
  float: left;
  width: 100%;
  text-align: center;
  margin: 0 auto;
}

.searching {
  display: block;
  float: left;
  width: 100%;
  text-align: center;
  margin: 0 auto;
}

input {
  width: 400px;
  height: 35px;
  border: 3px solid #ebedc7;
  border-radius: 3px;
  font-size: 17px;
}

button {
  width: 180px;
  height: 60px;
  font-size: 25px;
  border: 6px solid #ebedc7;
  border-radius: 8px;
  background: black;
  color: #ebedc7;
}

button:hover {
  background-color: #ebedc7;
  color: black;
}

.buttoncontainer {
  display: block;
  float: left;
  width: 100%;
  text-align: center;
  margin: 150px auto;
}

#playbutton {
  width: 300px;
  height: 150px;
  font-size: 50px;
  border-radius: 20px;
  border-width: 10px;
}

.namegame {
  color: #f9f8b1;
  display: block;
  float: left;
  width: 100%;
  text-align: center;
  margin: 0 auto;
}

.namegame img {
  max-width: 200px;
}

.results {
  display: block;
  color: #f9f1d9;
  margin: 30px;
}

.col {
  display: block;
  margin: 5px auto;
  float: left;
  width: 50%;
}

/* Hamburger Nav Menu */

#cross {
  text-decoration: none;
  font-size: 19px;
}

#top {
  text-align: center;
  padding: 10px;
  display: block;
  margin: 30px auto;
  font-size: 20px;
  border: 3px solid #fce399;
  border-radius: 80px;
  background: black;
  position: fixed;
  bottom: 15px;
  right: 15px;
  z-index: 100;
  opacity: 0;
}

#hamburger {
  background-color: black;
  position: fixed;
  top: 0;
  right: 0;
  border-radius: 5px 5px 5px 5px;
  margin: 20px;
  border: 1px solid #fce399;
  line-height: 2.5em;
  font-family: monospace;
  font-size: 20px;
  padding: 1px 13px;
  opacity: 0.8;
  color: #fce399;
  z-index: 100;
}

.nav {
  overflow: hidden;
  background-color: black;
  position: fixed;
  top: 0;
  right: 0;
  border-radius: 5px 5px 5px 5px;
  margin: 10px;
  border: 1px solid #ebedc7;
  display: block;
  line-height: 2.5em;
  font-family: monospace;
  font-size: 16px;
  padding: 8px;
  opacity: 0.8;
  z-index: 100;
}

.nav a {
  display: block;
  color: #fce399;
}

a:hover {
  color: #f9f1d9;
}

/* Cards */

.cardborder {
  display: block;
  height: 300px;
  background: #f9f9cf;
  box-shadow: 6px 6px #3a3a38;
  margin: 30px auto;
  width: 60%;
  padding: 15px;
  overflow-y: auto;
}

.title {
  display: block;
  font-weight: bold;
  font-size: 2em;
  margin-top: 2%;
  color: #4A5050;
  width: 50%;
}

.image {
  position: relative;
  display: block;
  margin: auto;
  height: 280px;
  overflow: hidden;
}

.image img {
  width: 60%;
  display: block;
  margin: auto;
}

.leftbox {
  display: block;
  position: relative;
  width: 70%;
  float: left;
}

.rightbox {
  display: block;
  position: relative;
  width: 30%;
  float: left;
  margin: auto;
}

/* Header */

.navbar {
  display: block;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-image: linear-gradient(#fcfc9c, #ebedc7);
  text-align: center;
  font-family: Georgia;
  font-weight: bold;
  z-index: 1;
  padding: 30px
}

.navtitle {
  display: block;
  font-size: 40px;
  float: left;
  width: 50%;
  color: #4A5050;
}

/* Search */

input {
  display: block;
  margin: 10px auto 0 auto;
  width: 300px;
  height: 30px;
}

.searchtext {
  display: block;
  width: 10%;
  margin: 140px auto 0 auto;
}
